*{  font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    color: aliceblue;
}

header{
    
    width: 1366px;
    height: 150px;
    background-color: blueviolet;
    margin: 0 auto;
    text-align: center;
}
header img{
    height: 95%;
}
nav{

    width: 1366px;
    height: 50px;
    background-color: #2581f6;

    display:flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;

}
main{
    width: 1366px;
    height: 2000px;
    /*background-color: darkgray;*/
    margin: 0 auto;
    background-image: url(../tarea\ personajes/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
main a{
    text-decoration: none;
    color: #a0cc0a;
}
.personaje{
    width: 1300px;
    height: 400px;
    /*background-color: cornflowerblue;*/
    margin-left: 33px;
    margin-top: 80px;
    display: inline-block;
}
.foto{
    width: 400px;
    height: 400px;
    /*background-color: bisque;*/
    float: left;
    margin-left: 33px;
    text-align: center
;

}
.foto img{
    height: 100%;

}
.info{
    width: 800px;
    height: 400px;
    background-color: #ca00dc76;
    float: left;
    margin-left: 33px;
    padding: 30px;
   
}
.info h3{
    font-size: 1.8rem;
    margin: 20px;
}
footer{
    height: 200px;
    width: 1366px;
    background-color: rgb(30, 13, 73);
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    
}
footer a{
    text-decoration: none;
}
nav a{
    color:aliceblue;
    text-decoration: none;
    padding: 15px 10px;
    transition: 0.5s;
    font-size: 1.3rem;
    font-weight: bold;
}
nav a:hover{
    background-color: rgb(15, 84, 144);
    transform: scale(1.5);
    font-weight: bolder;


}
